{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container ptb-95 default">
    <div class="row">
      <div class="col-md-20 col-md-offset-2 text-center">
        <h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}
