{% extends 'default.html.twig' %}

{% block content %}
<div class="container ptb-95 default">
    <div class="row">
      <div class="col-md-20 col-md-offset-2">
        
      </div>
    </div>
  </div>
{% endblock %}