{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container ptb-95 partner-page">
    <div class="row">
      <div class="col-md-20 col-md-offset-2">
      	{% include 'partials/breadcrumbs.html.twig' %}
        <img class="center-block img-responsive" src="{{ page.media.images|first.cache.url() }}">
        
        <h1 class="section-header">{{ page.header.title }}</h1>
        
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}
